name: Publish Docker

on: 
  release:
    types: [published]
  push:
    branches: 
     - master

  #schedule:
  #  - cron: 0 8 * * 5
  
  #watch:
  #  types: [started]
jobs:
  build:
    runs-on: ubuntu:18.04
    steps:
    - uses: actions/checkout@master
    - name: Publish to Registry
      uses: elgohr/Publish-Docker-Github-Action@master
      with:
        name: pascalhack/v2ray
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        tag_names: true
        cache: true
